.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modalContent{
    padding: 25px;
    background-color: white;
    border-radius: 16px;
    min-width: 150px;
}

.modalText{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #524f4e;
    margin: 10px 0;
    line-height: 1.5;
}

.modalLink {
    color: #2EE59D;
    cursor: pointer;
    text-decoration: underline; 
    transition: color 0.3s;
}

.modalLink:hover {
    color: #0F9B5B; 
}

.modal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}